apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "preview-app.fullname" . }}
  labels:
    {{- include "preview-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "preview-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "preview-app.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: {{ include "preview-app.fullname" . }}-html
